<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>左边固定，右边自适应</title>
  <style type="text/css">
    .container {
      background-color: yellow; /* 背景色为右边的颜色 */
      overflow: hidden; /* 清除浮动 */
    }

    .left {
      background-color: red;
      float: left;
      width: 200px;
    }

    .content {
      border-left: 200px solid red; /* 等于左边的宽度，颜色为左边的颜色 */
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="left">left<br><br>left</div>
    <div class="content">content</div>
  <div>
</body>
</html>
